{erl_opts, [debug_info]}.
{deps, [
  {hstreamdb_erl, {git, "https://github.com/hstreamdb/hstreamdb_erl", {tag, "0.4.7+v0.16.1"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [demo]}
]}.

{relx, [{release, {demo, "0.1.0"},
         [demo,
          sasl
          ]},
        % {dev_mode, true},
        % {include_erts, false},
        {extended_start_script, true}]}.

